<div class="profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t3.ftcdn.net/jpg/01/65/67/38/360_F_165673842_Yajw5XKVpZ497xohG6H0lNp1jFBgikL7.jpg);">
  <div class="container image-profil">
    <p>Glad to See You ! Here we go for a little sum up of your account</p>
  </div>
</div>
