<div class="profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t3.ftcdn.net/jpg/01/65/67/38/360_F_165673842_Yajw5XKVpZ497xohG6H0lNp1jFBgikL7.jpg);">
  <div class="container image-profil d-flex justify-content-center align-items-center">
    <p>Glad to See You ! Here we go for a little sum up of your account</p>
  </div>
</div>

  <div class="container rents-owners">
    <div class="row">

      <div class="col-6 d-flex">
      <p>ekfhdhlflf첫ed첫ofejf첫oezjf첫oz</p>
      </div>

      <div class="col-6 d-flex justify-content align-items-center">
      <p>kjfjhdfdhfdshfh</p>
      </div>

  </div>
