<div class="toys_all_container">
  <h1>Dernières mises en locations</h1>
  <div class="toys_index_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <p>des legos qui rapportent</p>
      <a class="btn btn-primary" href="#">Apply now</a>
    </div>
  </div>
</div>
