
.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


element.style {


.home-top>.container.container--large {
    padding-left: 0;
    padding-right: 0;
}

.home-top .container {
    flex-direction: column-reverse;
}

.container--large {
    max-width: 1300px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    width: 100%;
  }
}
.row{
-webkit-text-size-adjust: 100%;
font-feature-settings: "salt";
outline: none;
text-decoration: none;
-webkit-font-smoothing: antialiased;
font-family: TT Chocolates,sans-serif;
font-size: inherit;
width: 100%;
align-items: center;
border: 0;
border-radius: 30px;
cursor: pointer;
display: inline-flex;
font-weight: 600;
height: 48px!important;
justify-content: center;
line-height: 1;
padding: 0 35px;
position: relative;
text-align: center;
transition: .3s ease;
white-space: nowrap;
z-index: 0;
outline-style: none;
backface-visibility: hidden;
overflow: hidden;
background: transparent;
box-shadow: inset 0 0 0 1px #172433;
color: #172433;}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   width: 100%;
// }

// .card-category2 {
//   background-size: cover;
//   background-position: center;
//   height: 200px;
//   flex-direction: column;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin-bottom: 100px;
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
