.profile-banner {
  background-size: cover;
  background-position: center;
  // height: 50px;
}

.profile-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 110px;
}
.image-profil{
  height: 200px;
}
