.container-toy {
  display: flex;
  justify-content: space-around;
  font-family: 'Comfortaa', cursive;
}


.toy-btn {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background:rgb(249, 7, 22);
  border: 5px solid rgb(249, 7, 22);
  box-sizing: border-box;
  border-radius: 5px;
}

.pic-toy {
  object-fit: cover;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  border-color: 1px solid black;
}

.text-end {
margin-right: 70px;
}

.text-start {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.description {
  justify-content: center;
  display: flex;
}


.schedule {
  text-decoration: none;
  position: relative;
  justify-content: center;
  background:rgb(249, 7, 22);
  border: 5px solid rgb(249, 7, 22);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  color: white;
  margin-bottom: 20px;
}

.container {
  margin-top: 50px;
}

.rents {
  background-color: rgb(255, 202, 3);
  padding-top: 40px;
  border-radius: 5px;
  height: fit-content;
}

.start {
  padding-bottom: 10px;
}
