.container_search{
  margin:0 auto;
}

.container1 {
  font-family: 'Comfortaa', cursive;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;
  margin-left: 80px;

}


.toy-title1 {
  justify-content: center;
  text-align: center;
  color: black;
  text-decoration: none;

}

.card1 {
  background-color: white;
  height: 200px;
  border-radius: 1px;
  box-shadow: 0 3px 10px 0 #aaa;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 3px;
  position: relative;
}

/*Media Queries*/

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    width: calc(280px * 2);
  }
  .card {
    margin: 0 auto 2rem;
  }
}

@media (max-width: 768px) {
  .cards {
    display: block;
    width: 100vw;
  }
  .card {
    margin: 0 auto 2rem;
  }
}
