

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ichef.bbci.co.uk/news/976/cpsprodpb/2124/production/_111748480_hi061000031.jpg.webp)">

</div>

<div class="container container--large z-2 flex flex-wrap flex-end pd-vt-xxl">
        <div class="relative col-3-5 z-1 flex flex-column">
            <div class="home-top-background">
                </picture>
            </div>
            <h1 class="big_slogan text-neutral-90 bold text-center">
                Find your toys
                <br>
                Close to home
            </h1>
            <h2 class="text-xxxl text-xxl text-neutral-90 bold mg-bottom-l text-center">
                enjoy
            </h2>

    <%= render "shared/searchbar" %>

<%# <div class="row pd">
                    <button id="widget-signup-btn" data-widget="onboarding" data-widget-step="user-status" class="full-width btn btn--ghost btn--dark" onclick="hj('trigger', 'homepage_signup_btn_widget_email');">
                        <svg class="svg-inline--fa fa-envelope fa-w-16 mg-right-s" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h416c8.8 0 16 7.2 16 16v41.4c-21.9 18.5-53.2 44-150.6 121.3-16.9 13.4-50.2 45.7-73.4 45.3-23.2.4-56.6-31.9-73.4-45.3C85.2 197.4 53.9 171.9 32 153.4V112c0-8.8 7.2-16 16-16zm416 320H48c-8.8 0-16-7.2-16-16V195c22.8 18.7 58.8 47.6 130.7 104.7 20.5 16.4 56.7 52.5 93.3 52.3 36.4.3 72.3-35.5 93.3-52.3 71.9-57.1 107.9-86 130.7-104.7v205c0 8.8-7.2 16-16 16z"></path></svg><!-- <i class="fal fa-envelope mg-right-s"></i> Font Awesome fontawesome.com -->
                        M'inscrire avec un e-mail
                        <span id="email-loading" class="pd iconav iconav-loading" style="display: none;"></span>
                    </button>
                    <svg class="svg-inline--fa fa-envelope fa-w-16 mg-right-s" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h416c8.8 0 16 7.2 16 16v41.4c-21.9 18.5-53.2 44-150.6 121.3-16.9 13.4-50.2 45.7-73.4 45.3-23.2.4-56.6-31.9-73.4-45.3C85.2 197.4 53.9 171.9 32 153.4V112c0-8.8 7.2-16 16-16zm416 320H48c-8.8 0-16-7.2-16-16V195c22.8 18.7 58.8 47.6 130.7 104.7 20.5 16.4 56.7 52.5 93.3 52.3 36.4.3 72.3-35.5 93.3-52.3 71.9-57.1 107.9-86 130.7-104.7v205c0 8.8-7.2 16-16 16z"></path></svg>
                </div>
        </div> %>

</div>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <ul class="list-group mb-3">
      </ul>
      <%# <%= link_to "Add a new lists", new_lists_path, class: 'btn btn-primary' %>
      </div>

  </div>
</div>
