.navbar-lewagon {
  justify-content: space-between;
  background: #e10505d6;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  border-radius: 9999px;
  width: 40px;
}
