.navbar-lewagon {
  justify-content: space-between;
  background: #ee0808;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  border-radius: 9999px;
  width: 40px;
}

.nav-link{
  color: rgb(226, 194, 14)
}
